global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

listen stats
  bind 0.0.0.0:70
  mode http
  stats enable
  stats hide-version
  stats scope .
  stats realm Haproxy\ Statistics
  stats uri /
  stats auth user:pass

frontend balancer
  bind 0.0.0.0:80
  mode http

  use_backend be_jupyterhub if { path -i -m beg /api/jupyterhub }
  use_backend be_stripe if { path -i -m beg /api/payments }
  use_backend be_ovhapi if { path -i -m beg /api/ovh }

backend be_ovhapi
  mode http
  option forwardfor
  balance roundrobin
  server static kubeml-kubernetes-backend:5050 check
  option httpchk GET /api/ovh/status
  http-check expect status 200

backend be_jupyterhub
  mode http
  option forwardfor
  balance roundrobin
  server static kubeml-kubernetes-backend:5050 check
  option httpchk GET /api/jupyterhub/health
  http-check expect status 200

backend be_stripe
  mode http
  option forwardfor
  balance roundrobin
  server static kubeml-stripe-backend:8080 check
  option httpchk GET /api/payments/health
  http-check expect status 200
