/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 65px;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  opacity: 0.9;

  ul {
    display: flex;
    padding-right: 150px;
  }

  a {
    color: #fff;
    padding: 10px;
    margin: 0 0.25rem;
  }

  a:hover {
    color: var(--primary-color);
  }
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.bg-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 200px;
  padding-top: 5px;

  .logo {
    height: 60px;
    width: 60px;
  }

  .logo-text {
    display: flex;
    align-items: center;
    height: 70%;
  }
}
