.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: #20232a;
  width: 100%;
  z-index: 2000;
  padding-top: 15px;

  .copyright-text {
    color: white;
    margin-bottom: 5px;
    font-size: 12px;
  }
}
