.homepage {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .block-one {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: #1a75ff;
    justify-content: center;
    align-items: center;
  }

  .block-two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: #f8f8f8;
    padding-top: 15px;
    padding-bottom: 15px;

    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 400px;
      width: 500px;
      text-align: flex-start;

      .info-text {
        margin-bottom: 25px;
        // width: 435px;
      }

      .description-text {
        color: black;
        font-size: 18px;
      }
    }

    .right {
      justify-content: center;
      align-items: center;
      display: flex;
      margin-left: 55px;
      width: 425px;

      .logo {
        width: 100%;
        height: 100%;
      }
    }
  }

  .block-three {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: #e8e8e8;

    .left {
      justify-content: flex-start;
      align-items: center;
      display: flex;
      width: 250px;
      margin-right: 50px;
      margin-left: 25px;

      .logo2 {
        width: 100%;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 270px;
      width: 700px;

      .info-text {
        color: black;
        font-size: 28px;
        margin-top: 5px;
        margin-bottom: 15px;
        width: 475px;
        font-family: "Raleway", sans-serif;
      }

      .description-text {
        color: black;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 50px;
      }
    }
  }

  .block-four {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 15px;

    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 350px;
      width: 400px;
      margin-left: 25px;

      .info-text {
        margin-bottom: 25px;
        width: 375px;
      }

      .description-text {
        color: black;
        font-size: 20px;
        font-family: "Raleway", sans-serif;
      }

      .ul-list {
        list-style-type: circle;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 20px;
        font-weight: 500;
      }
    }

    .right {
      justify-content: center;
      align-items: center;
      display: flex;
      margin-left: 40px;
      width: 575px;

      .logo {
        width: 100%;
        height: 100%;
      }
    }
  }

  .block-five {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 50px;
    background-color: #e8e8e8;
    padding-bottom: 60px;

    .left {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 525px;
      margin-left: 75px;

      .logo {
        width: 100%;
        height: 100%;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 400px;
      width: 450px;
      margin-left: 60px;

      .info-text {
        margin-bottom: 25px;
      }
      .description-text {
        font-size: 18px;
      }
    }
  }
}
